<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.mychampx1.unity.CustomUnityPlayerActivity"
            android:theme="@style/UnityThemeSelector"
            android:process=":GameModule"
            android:launchMode="singleTask"/>
    </application>
</manifest>
